
.App {
    width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 50px auto;
    flex-grow: 1;
    font-size: 40px;
    font-weight: 500;
    color: rgb(30, 30, 30);
}

h2 {
    margin: 0 0 8px;
}

.flex-container {
    display: flex;
}

.first-row {
    align-items: center;
}

.clock {
    display: grid;
    grid-template-columns: 80px 70px;
    margin-right: 50px;
    text-align: left;
}

.status-output {
    width: 500px;
}

.control-interface {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-top: 38px;
    margin-left: 20px;
}

.account-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75px;
    margin-bottom: 36px;
}

.transaction-control {
    display: flex;
    flex-direction: column;
}
.transaction-control button {
    margin-top: 12px;
}
