
.gas-prices {
    display: flex;
    flex-direction: column;
}

.indicator-buttons {
    display: flex;
    margin: 10px 0;
}

img {
    box-sizing: content-box;
    width: 16px;
    margin: 0 6px;
    padding: 4px;
    cursor: pointer;
    transition: transform .5s;
}
img:hover {
    transform: rotate(1turn) scale(1.05);
}

.indicator-button {
    width: fit-content;
    min-width: 70px;
    margin: 0 4px;
    padding: 3px 8px;
    border: 1px solid #686868;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: .25s;
}
.indicator-button:hover {
    background-color: #adffddac;
}

.inputs {
    display: flex;
    justify-content: space-between;
}
.inputs input {
    width: 132px;
}
